.DS_Store
.idea
android/.DS_Store
android/.gradle/
android/.idea/
android/android.iml
android/build/
android/local.properties
android/src/.DS_Store
android/src/main/.DS_Store
android/src/main/java/.DS_Store
android/src/main/java/ie/.DS_Store
android/src/main/java/ie/imobile/.DS_Store
android/src/main/java/ie/imobile/xtremepush/.DS_Store
android/xtremepush-react.iml
ios/RNXtremepushReact.xcodeproj/xcuserdata/michael.xcuserdatad/
node_modules/
package-lock.json
